<app-header></app-header>
<div class="bt-content-wrap btClear">
    <section
        class="bt_bb_section gutter bt_bb_vertical_align_top btPageHeadline bt_bb_background_image bt_bb_background_overlay_dark_solid bt_bb_parallax bt-dark-skin "
        style="background-image:url(../../assets/img/hero-services.png)"
        data-parallax="0.8" data-parallax-offset="0">
        <div class="bt_bb_port port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row">
                        <div class="bt_bb_column">
                            <div class="bt_bb_column_content">
                                <header class="bt_bb_headline bt_bb_size_large bt_bb_superheadline"
                                    data-bt-override-class="{}">
                                    <h1 class="bt_bb_headline_tag"><span class="bt_bb_headline_superheadline"><span
                                                class="btBreadCrumbs"><span><a
                                                        href="/">Home</a></span></span></span><span
                                            class="bt_bb_headline_content"><span>Frequently Asked
                                                Questions</span></span></h1>
                                </header>
                            </div><!-- /rowItemContent -->
                        </div><!-- /rowItem -->
                    </div><!-- /boldRow -->
                </div><!-- boldCellInner -->
            </div><!-- boldCell -->
        </div><!-- port -->
    </section>
    <div class="bt-content-holder">

        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section id="bt_bb_section60c4c5154354a"
                    class="bt_bb_section bt_bb_color_scheme_16 bt_bb_layout_wide bt_bb_vertical_align_top">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div
                                    class="bt_bb_row_wrapper bt_bb_row_width_boxed_1200 bt_bb_row_push_right bt_bb_row_push_left bt_bb_content_wide">
                                    <div
                                        class="bt_bb_row bt_bb_animation_fade_in bt_bb_animation_move_right animated bt_bb_animation_fade_in move_right animated">
                                        <div class="bt_bb_column col-xl-3 bt_bb_align_right bt_bb_vertical_align_top bt_bb_padding_normal btLazyLoadBackground bt_bb_column_background_image bt_bb_details_right-inner bt_bb_details-color_white"
                                            style="background-image:url(&#039;../../assets/img/blank.gif&#039;);"
                                            data-background_image_src='../../assets/img/inner_single_service_02.jpg'
                                            data-width="3" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-6 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_padding_20"
                                            style="background-color:rgba(255, 255, 255, 1);" data-width="6"
                                            data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_8 bt_bb_dash_none bt_bb_size_normal bt_bb_superheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h2 class="bt_bb_headline_tag">
                                                            <!-- <span
                                                                class="bt_bb_headline_superheadline">FAQ</span> -->
                                                                <span
                                                                class="bt_bb_headline_content"><span>FAQ</span></span></h2>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                    <div class="bt_bb_accordion bt_bb_color_scheme_5 bt_bb_style_simple bt_bb_shape_square"
                                                        data-closed=closed>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span
                                                                    data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">Why choose an accredited lab vs non-accredited?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>Guardian Lab Services is a fully accredited laboratory belonging to the Canadian Association of Laboratory
                                                                        Accreditation (CALA Lab code A4133) . The majority of asbestos testing labs in Canada are non-accredited and are
                                                                        non-compliant with an ISO 17025 Quality Assurance Program. The purpose of a quality assurance program is to assure
                                                                        that all laboratory testing is performed according to the principles of current good laboratory practises. In other
                                                                        words, a quality system of management controls for the laboratory to ensure the uniformity, consistency,
                                                                        reliability, reproducibility, quality, and integrity of documentation and test results. Accreditation makes a huge
                                                                        difference in quality control and analyst competency. All of our analysts are rigorously proficiency tested by CALA
                                                                        to check for precision and accuracy.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">What is asbestos and why is it dangerous?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>Asbestos is a naturally occurring fibrous mineral. It is not dangerous unless it is airborne, which can
                                                                        happen during renovations or when removing old building materials. It is important to test any materials
                                                                        that are going to be removed or disturbed because exposure to asbestos can cause cancer and other lung
                                                                        diseases.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">How do I submit building material samples for analysis?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>Guardian Labs recommend you hire a qualified and experienced professional to collect samples from your
                                                                        property.</p>
                                                                    <p>If you decide to collect the sample yourself, Health Canada advises using a NIOSH approved P100
                                                                        respirator effective against asbestos during sample collection. You may purchase one from most
                                                                        hardwareor safety supply stores.</p>
                                                                    <p>To submit samples on your own, insert one sample into a sealed and labeled Ziploc bag. Depending on the
                                                                        material type, acceptable sample quantity should not be larger than a fist and can be as small as 2
                                                                        square inches. Drywall samples should be submitted with presence of joint compound or mud. Please
                                                                        collect your sample at a joint or seam.</p>
                                                                    <p>Vermiculite samples however are an exception and the recommended quantity is a medium Ziploc freezer bag,
                                                                        with an emphasis on collecting the fine particulate dust that settles on the floor.</p>
                                                                    <p>Label the bags with permanent marker with the following information: address, location collected
                                                                        (bathroom wall, kitchen ceiling, garage floor, attic, etc.), type of material (floor tile, texture coat,
                                                                        joint compound, insulation, etc.) collection date and the sample number in the order you wish the
                                                                        samples to be reported.</p>
                                                                    <p>You may drop off your samples in person at our lab (Monday to Friday 8:30 to 4:00pm). You must first
                                                                        complete a Chain of Custody Form which records important information such as the number of samples, the
                                                                        type of material, location of samples taken, current date, signatures and requested turnaround time for
                                                                        results. Samples will not be analysed without a completed Chain of Custody. Please ensure it accompanies
                                                                        your delivery. Pre-Payment is required upon submission and we accept all major credit cards.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span
                                                                    data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">What are the likely sources of asbestos in my home?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>You cannot identify asbestos by looking at it. Asbestos fibers are microscopic. The only way to confirm its presence
                                                                        is to take a sample of the material and have it tested by an accredited laboratory.</p>
                                                                    <p>Asbestos is often mixed with other materials. If you work in a building built before 1990, it is likely that at least
                                                                        some parts of the building will contain asbestos.</p>
                                                                    <p>There are several construction and industrial products. Common applications include:</p>
                                                                    <ul class="btAccentList">
                                                                        <li>Drywall Joint compound</li>
                                                                        <li>Textured“popcorn” ceiling</li>
                                                                        <li>Spray applied fireproofing</li>
                                                                        <li>Mechanical insulation</li>
                                                                        <li>Pipe wrap</li>
                                                                        <li>Linoleum</li>
                                                                        <li>Vinyl floor tiles and Mastic</li>
                                                                        <li>Vermiculite in cinder blocks and attics</li>
                                                                        <li>Cement board and tiles</li>
                                                                        <li>Cement pipes</li>
                                                                        <li>Textured decorative coating</li>
                                                                        <li>Window putty and caulking</li>
                                                                        <li>Stucco</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">What are my next steps if my lab results indicate there is
                                                                    greater than 0.5% of asbestos in my home?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>If your lab report indicates a material is 0.5% or greater
                                                                        in Asbestos this means your building contains Asbestos Containing Material
                                                                        (ACM) according to the Alberta Asbestos Manual and you will require an Alberta
                                                                        asbestos accredited contractor to safely remove and dispose of the ACM. Out of
                                                                        province contractors are not qualified in Alberta. If your lab reports &quot;None
                                                                        Detected&quot;, this means your building material sample does not contain any
                                                                        
                                                                        asbestos. However, if you do not submit an adequate number of samples for
                                                                        testing, this may not guarantee an accurate representation of your building
                                                                        materials as not all materials are homogenous.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">Possible sources of mold in the house?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>Mold growth can occur in many areas in the house. This can be caused by factors such as water damage or leakage. If you think you have mold growing in your home you should call a professional to come and do a visual inspection and they can take tape lift or air samples which are taken to an accredited laboratory to be analysed.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span
                                                                    data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">How quickly can I receive my results?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>We offer several turn-around times for asbestos and mold results. Our standard
                                                                        turnaround time is 24 hours. If you require your results sooner, we also offer expedited
                                                                        services for an additional cost. We offer a 24/7 emergency service as well.</p>
                                                                    <!-- <p>Damp or wet samples may require additional drying time.</p> -->
                                                                    <ol>
                                                                        <li>Damp or wet samples may require additional drying time</li>
                                                                        <li>Hard building material may require additional time in the oven so expedited services
                                                                            may not be possible</li>
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_accordion_item btWithIcon">
                                                            <div class="bt_bb_accordion_item_title_content"><span
                                                                    data-ico-icon7stroke="&#xe689;"
                                                                    class="bt_bb_icon_holder"></span>
                                                                <div class="bt_bb_accordion_item_title">What is the cost to test?</div>
                                                            </div>
                                                            <div class="bt_bb_accordion_item_content">
                                                                <div class="bt_bb_text">
                                                                    <p>We offer several turn-around times for asbestos and mold results. Our standard turnaround time is 24 hours. If you require your results sooner, we also offer expedited services as well as 24/7 emergency services at an additional cost*
                                                                       <br> *conditions apply</p>
                                                                    <!-- <p>Payment upon sample receipt is required. All major credit cards and debit accepted.</p> -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                       
                                                        
                                                        
                                                    </div>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_details_left bt_bb_details-color_white"
                                            data-width="3" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>

    </div>
</div>