<div class="bt-site-footer">

    <div class="bt_bb_wrapper">
        <section id="bt_bb_section60c2351fd94b6"
            class="bt_bb_section bt_bb_top_spacing_large bt_bb_bottom_spacing_medium bt_bb_color_scheme_10 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
            <div class="bt_bb_port">
                <div class="bt_bb_cell">
                    <div class="bt_bb_cell_inner">
                        <!-- <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_column_gap_0 bt_bb_hidden_xs bt_bb_hidden_ms bt_bb_hidden_sm bt_bb_border_show_light"
                                style="margin: 0 0.2em;">
                                <div class="bt_bb_column col-xl-6 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_padding_30 bt_bb_animation_fade_in animate"
                                    data-width="6" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_50 bt_bb_border_style_none bt_bb_border_color_none">
                                            </div>
                                            <header
                                                class="bt_bb_headline bt_bb_dash_none bt_bb_size_normal bt_bb_align_inherit"
                                                data-bt-override-class="{}">
                                                <h1 class="bt_bb_headline_tag"><span
                                                        class="bt_bb_headline_content"><span>Subscribe to our
                                                            newsletter</span></span></h1>
                                            </header>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_50 bt_bb_border_style_none bt_bb_border_color_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-xl-6 bt_bb_align_right bt_bb_vertical_align_middle bt_bb_padding_30 bt_bb_animation_fade_in animate"
                                    data-width="6" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_50 bt_bb_border_style_none bt_bb_border_color_none">
                                            </div>
                                            <div class="bt_bb_contact_form_7">
                                                <div role="form" class="wpcf7" id="wpcf7-f1292-p1538-o2"
                                                    lang="en-US" dir="ltr">
                                                    <div class="screen-reader-response">
                                                        <p role="status" aria-live="polite" aria-atomic="true">
                                                        </p>
                                                        <ul></ul>
                                                    </div>
                                                    <form action="/lab-s/#wpcf7-f1292-p1538-o2" method="post"
                                                        class="wpcf7-form init" novalidate="novalidate"
                                                        data-status="init">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="1292" />
                                                            <input type="hidden" name="_wpcf7_version"
                                                                value="5.4.1" />
                                                            <input type="hidden" name="_wpcf7_locale"
                                                                value="en_US" />
                                                            <input type="hidden" name="_wpcf7_unit_tag"
                                                                value="wpcf7-f1292-p1538-o2" />
                                                            <input type="hidden" name="_wpcf7_container_post"
                                                                value="1538" />
                                                            <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                value="" />
                                                            <input type="hidden"
                                                                name="_wpcf7_recaptcha_response" value="" />
                                                        </div>
                                                        <div class="btNewsletter btOutline">
                                                            <div class="btNewsletterColumn"><span
                                                                    class="wpcf7-form-control-wrap your-email"><input
                                                                        type="email" name="your-email" value=""
                                                                        size="40"
                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Your Email" /></span></div>
                                                            <div class="btNewsletterButton"><input type="submit"
                                                                    value="SUBSCRIBE"
                                                                    class="wpcf7-form-control wpcf7-submit" />
                                                            </div>
                                                        </div>
                                                        <div class="wpcf7-response-output" aria-hidden="true">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_50 bt_bb_border_style_none bt_bb_border_color_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row bt_bb_hidden_md bt_bb_hidden_lg">
                                <div class="bt_bb_column col-xl-12 bt_bb_align_center bt_bb_vertical_align_middle bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                    data-width="12" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <header
                                                class="bt_bb_headline bt_bb_dash_none bt_bb_size_normal bt_bb_align_inherit"
                                                data-bt-override-class="{}">
                                                <h1 class="bt_bb_headline_tag"><span
                                                        class="bt_bb_headline_content"><span>Subscribe to our
                                                            newsletter</span></span></h1>
                                            </header>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none bt_bb_border_color_none">
                                            </div>
                                            <div class="bt_bb_contact_form_7">
                                                <div role="form" class="wpcf7" id="wpcf7-f1292-p1538-o3"
                                                    lang="en-US" dir="ltr">
                                                    <div class="screen-reader-response">
                                                        <p role="status" aria-live="polite" aria-atomic="true">
                                                        </p>
                                                        <ul></ul>
                                                    </div>
                                                    <form action="/lab-s/#wpcf7-f1292-p1538-o3" method="post"
                                                        class="wpcf7-form init" novalidate="novalidate"
                                                        data-status="init">
                                                        <div style="display: none;">
                                                            <input type="hidden" name="_wpcf7" value="1292" />
                                                            <input type="hidden" name="_wpcf7_version"
                                                                value="5.4.1" />
                                                            <input type="hidden" name="_wpcf7_locale"
                                                                value="en_US" />
                                                            <input type="hidden" name="_wpcf7_unit_tag"
                                                                value="wpcf7-f1292-p1538-o3" />
                                                            <input type="hidden" name="_wpcf7_container_post"
                                                                value="1538" />
                                                            <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                value="" />
                                                            <input type="hidden"
                                                                name="_wpcf7_recaptcha_response" value="" />
                                                        </div>
                                                        <div class="btNewsletter btOutline">
                                                            <div class="btNewsletterColumn"><span
                                                                    class="wpcf7-form-control-wrap your-email"><input
                                                                        type="email" name="your-email" value=""
                                                                        size="40"
                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                        aria-required="true"
                                                                        aria-invalid="false"
                                                                        placeholder="Your Email" /></span></div>
                                                            <div class="btNewsletterButton"><input type="submit"
                                                                    value="SUBSCRIBE"
                                                                    class="wpcf7-form-control wpcf7-submit" />
                                                            </div>
                                                        </div>
                                                        <div class="wpcf7-response-output" aria-hidden="true">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row">
                                <div class="bt_bb_column col-xl-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                    data-width="12" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="bt_bb_row_wrapper">
                            <div class="bt_bb_row">
                                <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                    data-width="3" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div
                                                class="bt_bb_image bt_bb_shape_square bt_bb_align_inherit bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle">
                                                <span><img
                                                        src="../../assets/img/logo-3.png"
                                                        data-full_image_src="../../assets/img/logo-3.png"
                                                        data-image_src="../../assets/img/logo-3.png"
                                                        title="Guardian Lab Services"
                                                        alt="../../assets/img/logo-3.png"
                                                        class="btLazyLoadImage" width="120"></span>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_30 bt_bb_border_style_none">
                                            </div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit bt_bb_text_size_xsmall btWithText"
                                                data-bt-override-class="{}"><a href="#" target="_self"
                                                    title="(403) 452-1003" data-ico-fontawesome="&#xf2a0;"
                                                    class="bt_bb_icon_holder"><span>(403) 452-1003</span></a>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                            </div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit bt_bb_text_size_xsmall btWithText"
                                                data-bt-override-class="{}"><a href="#" target="_self"
                                                    title="customerservice@guardianlab.ca" data-ico-fontawesome="&#xf0e0;"
                                                    class="bt_bb_icon_holder"><span>customerservice@guardianlab.ca</span></a>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                            </div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_4 bt_bb_style_borderless bt_bb_size_small bt_bb_shape_circle bt_bb_align_inherit bt_bb_text_size_xsmall btWithText"
                                                data-bt-override-class="{}"><a href="#" target="_self"
                                                    title="60 East 65th Street, NY"
                                                    data-ico-fontawesome5solid="&#xf3c5;"
                                                    class="bt_bb_icon_holder"><span>11-2280 39 AVE NE
                                                        CALGARY, AB. T2E 6P7</span></a></div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_25 bt_bb_border_style_none">
                                            </div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_outline bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit"
                                                data-bt-override-class="{}"><a
                                                    href="https://www.facebook.com/boldthemes/" target="_blank"
                                                    data-ico-fontawesome="&#xf09a;"
                                                    class="bt_bb_icon_holder"></a></div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_outline bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit"
                                                data-bt-override-class="{}"><a
                                                    href="https://twitter.com/bold_themes" target="_blank"
                                                    data-ico-fontawesome="&#xf099;"
                                                    class="bt_bb_icon_holder"></a></div>
                                            <div class="bt_bb_icon bt_bb_color_scheme_6 bt_bb_style_outline bt_bb_size_xsmall bt_bb_shape_circle bt_bb_align_inherit"
                                                data-bt-override-class="{}"><a
                                                    href="https://www.youtube.com/channel/UCPL5LgX32KsbQ1i9nV-xiKA"
                                                    target="_blank" data-ico-fontawesome="&#xf16a;"
                                                    class="bt_bb_icon_holder"></a></div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                            </div>
                                            <div class="bt_bb_text">
                                                <p><span style="color: #156cf0;">&copy; {{this.currentYear}} Guardian Lab Services. All rights
                                                        reserved</span></p>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                    data-width="3" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <header
                                                class="bt_bb_headline bt_bb_dash_bottom bt_bb_size_small bt_bb_align_inherit"
                                                data-bt-override-class="{}">
                                                <h1 class="bt_bb_headline_tag"><span
                                                        class="bt_bb_headline_content"><span>How we can
                                                            help</span></span></h1>
                                            </header>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                            </div>
                                            <div
                                                class="bt_bb_custom_menu bt_bb_direction_vertical bt_bb_color_light bt_bb_font_weight_normal">
                                                <div class="menu-custom-menu-container">
                                                    <ul id="menu-custom-menu" class="menu">
                                                        <!-- <li id="menu-item-3060"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3060">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/">Molecular
                                                                Diagnostics</a>
                                                        </li>
                                                        <li id="menu-item-3061"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3061">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/single-service/">Molecular
                                                                Hematology</a>
                                                        </li>
                                                        <li id="menu-item-3062"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3062">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/">Microbiology</a>
                                                        </li>
                                                        <li id="menu-item-3063"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3063">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/single-service/">Transfusion
                                                                Medicine</a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                    data-width="3" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <header
                                                class="bt_bb_headline bt_bb_dash_bottom bt_bb_size_small bt_bb_align_inherit"
                                                data-bt-override-class="{}">
                                                <h1 class="bt_bb_headline_tag"><span
                                                        class="bt_bb_headline_content"><span>Services</span></span>
                                                </h1>
                                            </header>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                            </div>
                                            <div
                                                class="bt_bb_custom_menu bt_bb_direction_vertical bt_bb_color_light bt_bb_font_weight_normal">
                                                <div class="menu-services-menu-container">
                                                    <ul id="menu-services-menu" class="menu">
                                                        <!-- <li id="menu-item-3052"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3052">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/">Complete
                                                                Blood Count</a>
                                                        </li>
                                                        <li id="menu-item-3053"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3053">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/faq/">Comprehensive
                                                                Metabolic Panel</a>
                                                        </li>
                                                        <li id="menu-item-3054"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3054">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/prices/">Cholesterol
                                                                / Lipid Levels</a>
                                                        </li>
                                                        <li id="menu-item-3055"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3055">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/get-quote/">Liver
                                                                Function Blood Test</a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                    data-width="3" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <header
                                                class="bt_bb_headline bt_bb_dash_bottom bt_bb_size_small bt_bb_align_inherit"
                                                data-bt-override-class="{}">
                                                <h1 class="bt_bb_headline_tag"><span
                                                        class="bt_bb_headline_content"><span>Preparation
                                                            tips</span></span></h1>
                                            </header>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                            </div>
                                            <div
                                                class="bt_bb_custom_menu bt_bb_direction_vertical bt_bb_color_light bt_bb_font_weight_normal">
                                                <div class="menu-tips-menu-container">
                                                    <ul id="menu-tips-menu" class="menu">
                                                        <!-- <li id="menu-item-3069"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3069">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/single-service/">Before
                                                                Your Blood Test</a>
                                                        </li>
                                                        <li id="menu-item-3070"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3070">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/">What
                                                                to Expect During the Draw</a>
                                                        </li>
                                                        <li id="menu-item-3071"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3071">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/">After
                                                                Your Blood Test</a>
                                                        </li>
                                                        <li id="menu-item-3072"
                                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3072">
                                                            <a
                                                                href="http://Guardian Lab Services.bold-themes.com/lab-s/services/single-service/">Where
                                                                do I Go for a Blood Draw?</a>
                                                        </li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="btLightSkin"></footer>
</div><!-- /bt-site-footer -->