<app-header></app-header>
<div class="bt-content-wrap btClear">
    <section
        class="bt_bb_section gutter bt_bb_vertical_align_top btPageHeadline bt_bb_background_image bt_bb_background_overlay_dark_solid bt_bb_parallax bt-dark-skin "
        style="background-image:url(../../assets/img/hero-services.png)"
        data-parallax="0.8" data-parallax-offset="0">
        <div class="bt_bb_port port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row">
                        <div class="bt_bb_column">
                            <div class="bt_bb_column_content">
                                <header class="bt_bb_headline bt_bb_size_large bt_bb_superheadline"
                                    data-bt-override-class="{}">
                                    <h1 class="bt_bb_headline_tag"><span class="bt_bb_headline_superheadline"><span
                                                class="btBreadCrumbs"><span><a
                                                        href="/">Home</a></span></span></span><span
                                            class="bt_bb_headline_content"><span>Contact Us</span></span></h1>
                                </header>
                            </div><!-- /rowItemContent -->
                        </div><!-- /rowItem -->
                    </div><!-- /boldRow -->
                </div><!-- boldCellInner -->
            </div><!-- boldCell -->
        </div><!-- port -->
    </section>
    <div class="bt-content-holder">

        <div class="bt-content">
            <div class="bt_bb_wrapper">
                <section id="bt_bb_section60c2351fd43df" data-parallax="0" data-parallax-offset="0"
        class="bt_bb_section bt_bb_color_scheme_16 bt_bb_layout_wide bt_bb_vertical_align_top bt_bb_parallax">
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div
                        class="bt_bb_row_wrapper bt_bb_row_width_boxed_1200 bt_bb_row_push_right bt_bb_row_push_left bt_bb_content_wide">
                        <div
                            class="bt_bb_row bt_bb_animation_fade_in bt_bb_animation_move_right animated bt_bb_animation_fade_in move_right animated">
                                        <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal btLazyLoadBackground bt_bb_column_background_image bt_bb_details_right-inner bt_bb_details-color_white"
                                            style="position: relative;background-image:url(&#039;../../assets/img/blank.gif&#039;);"
                                            data-background_image_src='../../assets/img/inner_contact_01.jpg'
                                            data-width="3" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                        <!-- <div class="bt_bb_column col-xl-6 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_padding_20"
                                            style="background-color:rgba(255, 255, 255, 1);" data-width="6"
                                            data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                    <header
                                                        class="bt_bb_headline bt_bb_dash_none bt_bb_size_normal bt_bb_superheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h2 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_superheadline">WRITE
                                                                US</span><span
                                                                class="bt_bb_headline_content"><span>Contact us today for a no-obligation quote</span></span></h2>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_top_spacing_small bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                    </div>
                                                    <div class="bt_bb_contact_form_7">
                                                        <div role="form" class="wpcf7" id="wpcf7-f3079-p1899-o1"
                                                            lang="en-US" dir="ltr">
                                                            <div class="screen-reader-response">
                                                                <p role="status" aria-live="polite" aria-atomic="true">
                                                                </p>
                                                                <ul></ul>
                                                            </div>
                                                            <form action="/lab-s/about-us/contact/#wpcf7-f3079-p1899-o1"
                                                                method="post" class="wpcf7-form init"
                                                                novalidate="novalidate" data-status="init">
                                                                <div style="display: none;">
                                                                    <input type="hidden" name="_wpcf7" value="3079" />
                                                                    <input type="hidden" name="_wpcf7_version"
                                                                        value="5.4.1" />
                                                                    <input type="hidden" name="_wpcf7_locale"
                                                                        value="en_US" />
                                                                    <input type="hidden" name="_wpcf7_unit_tag"
                                                                        value="wpcf7-f3079-p1899-o1" />
                                                                    <input type="hidden" name="_wpcf7_container_post"
                                                                        value="1899" />
                                                                    <input type="hidden" name="_wpcf7_posted_data_hash"
                                                                        value="" />
                                                                    <input type="hidden"
                                                                        name="_wpcf7_recaptcha_response" value="" />
                                                                </div>
                                                                <div class="btRequest">
                                                                    <div class="btRequestFlex">
                                                                        <div class="btRequestFlexLeft">
                                                                            <div class="btRequestLabel">Name (required)*
                                                                            </div>
                                                                            <div class="btRequestInput"><span
                                                                                    class="wpcf7-form-control-wrap your-name"><input
                                                                                        type="text" name="your-name"
                                                                                        value="" size="40"
                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                        aria-required="true"
                                                                                        aria-invalid="false" /></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="btRequestFlexLeft">
                                                                            <div class="btRequestLabel">Email
                                                                                (required)*</div>
                                                                            <div class="btRequestInput"><span
                                                                                    class="wpcf7-form-control-wrap your-email"><input
                                                                                        type="email" name="your-email"
                                                                                        value="" size="40"
                                                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                        aria-required="true"
                                                                                        aria-invalid="false" /></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="btRequestLabel">Service (required)*
                                                                    </div>
                                                                    <div class="btRequestInput"><span
                                                                            class="wpcf7-form-control-wrap your-subject"><input
                                                                                type="text" name="your-subject" value=""
                                                                                size="40"
                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                aria-required="true"
                                                                                aria-invalid="false" /></span></div>
                                                                    <div class="btRequestLabel">Message</div>
                                                                    <div class="btRequestInput"><span
                                                                            class="wpcf7-form-control-wrap your-message"><textarea
                                                                                name="your-message" cols="40" rows="10"
                                                                                class="wpcf7-form-control wpcf7-textarea"
                                                                                aria-invalid="false"></textarea></span>
                                                                    </div>
                                                                    <div class="btRequestButton"><input type="submit"
                                                                            value="Send Request"
                                                                            class="wpcf7-form-control wpcf7-submit" />
                                                                    </div>
                                                                </div>
                                                                <div class="wpcf7-response-output" aria-hidden="true">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_details_left bt_bb_details-color_white"
                                            data-width="3" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="bt_bb_section60c4ecc5cfa47" data-parallax="0.7" data-parallax-offset="-150"
                    class="bt_bb_section bt_bb_layout_wide bt_bb_vertical_align_top bt_bb_parallax">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div
                                    class="bt_bb_row_wrapper bt_bb_row_width_boxed_1200 bt_bb_row_push_right bt_bb_row_push_left bt_bb_content_wide">
                                    <div
                                        class="bt_bb_row bt_bb_animation_fade_in bt_bb_animation_move_left animate bt_bb_animation_fade_in move_left animate">
                                        <div class="bt_bb_column col-xl-3 bt_bb_align_right bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_details_right bt_bb_details-color_grey"
                                            data-width="3" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-6 bt_bb_color_scheme_16 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_padding_20 bt_bb_details-color_white"
                                            data-width="6" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                    <header
                                                        class="bt_bb_headline bt_bb_dash_none bt_bb_size_normal bt_bb_superheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h2 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_superheadline">FULL LAB
                                                                SERVICE</span><span
                                                                class="bt_bb_headline_content"><span>Contact
                                                                    Us</span></span></h2>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_top_spacing_small bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                    </div>
                                                    <div class="bt_bb_row_inner">
                                                        <div class="bt_bb_column_inner col-xl-6 bt_bb_align_left bt_bb_vertical_align_top"
                                                            data-width="6" data-bt-override-class="{}">
                                                            <div class="bt_bb_column_inner_content">
                                                                <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_large bt_bb_shape_circle bt_bb_align_inherit"
                                                                    data-bt-override-class="{}"><span
                                                                        data-ico-essential="&#xe930;"
                                                                        class="bt_bb_icon_holder"></span></div>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                                                </div>
                                                                <header
                                                                    class="bt_bb_headline bt_bb_dash_none bt_bb_size_small bt_bb_subheadline bt_bb_align_inherit"
                                                                    data-bt-override-class="{}">
                                                                    <h5 class="bt_bb_headline_tag"><span
                                                                            class="bt_bb_headline_content"><span>Working
                                                                                Hours</span></span></h5>
                                                                    <div class="bt_bb_headline_subheadline">MON-FRI |
                                                                        08:00am to 5:00pm<br />
                                                                        SAT-SUN | ON CALL</div>
                                                                </header>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_top_spacing_small bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                                </div>
                                                                <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_large bt_bb_shape_circle bt_bb_align_inherit"
                                                                    data-bt-override-class="{}"><span
                                                                        data-ico-essential="&#xea28;"
                                                                        class="bt_bb_icon_holder"></span></div>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                                                </div>
                                                                <header
                                                                    class="bt_bb_headline bt_bb_dash_none bt_bb_size_small bt_bb_subheadline bt_bb_align_inherit"
                                                                    data-bt-override-class="{}">
                                                                    <h5 class="bt_bb_headline_tag"><span
                                                                            class="bt_bb_headline_content"><span>Call
                                                                                Center</span></span></h5>
                                                                    <div class="bt_bb_headline_subheadline">
                                                                        (403) 452-1003<br />
                                                                        Give us a free call 24/7</div>
                                                                </header>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="bt_bb_column_inner col-xl-6 bt_bb_align_left bt_bb_vertical_align_top"
                                                            data-width="6" data-bt-override-class="{}">
                                                            <div class="bt_bb_column_inner_content">
                                                                <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_large bt_bb_shape_circle bt_bb_align_inherit"
                                                                    data-bt-override-class="{}"><span
                                                                        data-ico-essential="&#xe9f0;"
                                                                        class="bt_bb_icon_holder"></span></div>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                                                </div>
                                                                <header
                                                                    class="bt_bb_headline bt_bb_dash_none bt_bb_size_small bt_bb_subheadline bt_bb_align_inherit"
                                                                    data-bt-override-class="{}">
                                                                    <h5 class="bt_bb_headline_tag"><span
                                                                            class="bt_bb_headline_content"><span>Location</span></span>
                                                                    </h5>
                                                                    <div class="bt_bb_headline_subheadline">11-2280 39 AVE NE<br />
                                                                        CALGARY, AB. T2E 6P7</div>
                                                                </header>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_top_spacing_small bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                                </div>
                                                                <div class="bt_bb_icon bt_bb_color_scheme_3 bt_bb_style_borderless bt_bb_size_large bt_bb_shape_circle bt_bb_align_inherit"
                                                                    data-bt-override-class="{}"><span
                                                                        data-ico-essential="&#xea5a;"
                                                                        class="bt_bb_icon_holder"></span></div>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_bottom_spacing_small bt_bb_border_style_none">
                                                                </div>
                                                                <header
                                                                    class="bt_bb_headline bt_bb_dash_none bt_bb_size_small bt_bb_subheadline bt_bb_align_inherit"
                                                                    data-bt-override-class="{}">
                                                                    <h5 class="bt_bb_headline_tag"><span
                                                                            class="bt_bb_headline_content"><span>Email
                                                                                Us</span></span></h5>
                                                                    <div class="bt_bb_headline_subheadline">
                                                                        customerservice@guardianlab.ca</div>
                                                                </header>
                                                                <div
                                                                    class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_column_background_image bt_bb_details_left-inner bt_bb_details-color_grey"
                                            style="background-image:url(&#039;../../assets/img/inner_experience_01.jpg&#039;);"
                                            data-width="3" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="bt_bb_section60c4ecc5d0592" data-parallax="0.7" data-parallax-offset="0"
                    class="bt_bb_section bt_bb_top_spacing_large bt_bb_bottom_spacing_medium bt_bb_color_scheme_10 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_parallax bt_bb_background_image bt_bb_background_overlay_accent_bottom_gradient"
                    style="background-image:url(&#039;../../assets/img/background_02.png&#039;);;background-color:#03175b;">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-8 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="8" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                    </div>
                                                    <header
                                                        class="bt_bb_headline bt_bb_dash_none bt_bb_size_large bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h3 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Your Full Service
                                                                    Lab for Mold & Asbestos</span></span></h3>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                                    </div>
                                                    <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_6 bt_bb_style_outline_thin bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit"
                                                        data-bt-override-class="{}"><a style="cursor: pointer;" (click)="goToPage('aboutus')"
                                                            target="_self" class="bt_bb_link"
                                                            title="More About Guardian Lab Services"><span
                                                                class="bt_bb_button_text">More About Guardian Lab Services</span></a>
                                                    </div>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none bt_bb_border_color_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-xl-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="12" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium btWithText bt_bb_border_style_solid bt_bb_border_color_light">
                                                        <span class="bt_bb_separator_text">Opening hours</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_subheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h4 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Mon</span></span>
                                                        </h4>
                                                        <div class="bt_bb_headline_subheadline">08:00am - 5:00pm</div>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_subheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h4 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Tue</span></span>
                                                        </h4>
                                                        <div class="bt_bb_headline_subheadline">08:00am - 5:00pm</div>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_subheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h4 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Wed</span></span>
                                                        </h4>
                                                        <div class="bt_bb_headline_subheadline">08:00am - 5:00pm</div>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_subheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h4 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Thu</span></span>
                                                        </h4>
                                                        <div class="bt_bb_headline_subheadline">08:00am - 5:00pm</div>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_subheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h4 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Fri</span></span>
                                                        </h4>
                                                        <div class="bt_bb_headline_subheadline">08:00am - 5:00pm</div>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="bt_bb_column col-xl-2 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate"
                                            data-width="2" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <header
                                                        class="bt_bb_headline bt_bb_color_scheme_1 bt_bb_dash_none bt_bb_size_extrasmall bt_bb_subheadline bt_bb_align_inherit"
                                                        data-bt-override-class="{}">
                                                        <h4 class="bt_bb_headline_tag"><span
                                                                class="bt_bb_headline_content"><span>Sat -
                                                                    Sun</span></span></h4>
                                                        <div class="bt_bb_headline_subheadline">ON CALL</div>
                                                    </header>
                                                    <div
                                                        class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="bt_bb_section60c4ecc5d0ebe"
                    class="bt_bb_section bt_bb_layout_wide bt_bb_vertical_align_top">
                    <div class="bt_bb_port">
                        <div class="bt_bb_cell">
                            <div class="bt_bb_cell_inner">
                                <div class="bt_bb_row_wrapper">
                                    <div class="bt_bb_row">
                                        <div class="bt_bb_column col-xl-12 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                            data-width="12" data-bt-override-class="{}">
                                            <div class="bt_bb_column_content">
                                                <div class="bt_bb_column_content_inner">
                                                    <div class="bt_bb_google_maps bt_bb_map bt_bb_map_type_interactive"
                                                        data-center="no">
                                                            <div class="mapouter">
                                                                <div class="gmap_canvas">
                                                                    <iframe [src]="this.googleLocationUrl | safe : 'resourceUrl'" width="100%" height="650" id="gmap_canvas" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>