<app-header></app-header>
<div class="bt-content-wrap btClear">
    <section
        class="bt_bb_section gutter bt_bb_vertical_align_top btPageHeadline bt_bb_background_image bt_bb_background_overlay_dark_solid bt_bb_parallax bt-dark-skin "
        style="background-image:url(../../assets/img/hero-services.png)" data-parallax="0.8" data-parallax-offset="0">
        <div class="bt_bb_port port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row">
                        <div class="bt_bb_column">
                            <div class="bt_bb_column_content">
                                <header class="bt_bb_headline bt_bb_size_large bt_bb_superheadline"
                                    data-bt-override-class="{}">
                                    <h1 class="bt_bb_headline_tag"><span class="bt_bb_headline_superheadline"><span
                                                class="btBreadCrumbs"><span><a
                                                        href="/">Home</a></span></span></span><span
                                            class="bt_bb_headline_content"><span>About Us</span></span></h1>
                                </header>
                            </div><!-- /rowItemContent -->
                        </div><!-- /rowItem -->
                    </div><!-- /boldRow -->
                </div><!-- boldCellInner -->
            </div><!-- boldCell -->
        </div><!-- port -->
    </section>
    <section id="bt_bb_section60c2351fd43df" data-parallax="0" data-parallax-offset="0"
        class="bt_bb_section bt_bb_color_scheme_16 bt_bb_layout_wide bt_bb_vertical_align_top bt_bb_parallax">
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div
                        class="bt_bb_row_wrapper bt_bb_row_width_boxed_1200 bt_bb_row_push_right bt_bb_row_push_left bt_bb_content_wide">
                        <div
                            class="bt_bb_row bt_bb_animation_fade_in bt_bb_animation_move_right animated bt_bb_animation_fade_in move_right animated">
                            <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_details_right bt_bb_details-color_white"
                                data-width="3" data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner"></div>
                                </div>
                            </div>
                            <div class="bt_bb_column col-xl-6 bt_bb_align_left bt_bb_vertical_align_middle bt_bb_padding_20"
                                style="background-color:rgba(255, 255, 255, 1);" data-width="6"
                                data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner">
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                        </div>
                                        <header
                                            class="bt_bb_headline bt_bb_dash_none bt_bb_size_normal bt_bb_superheadline bt_bb_subheadline bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h3 class="bt_bb_headline_tag"><span
                                                    class="bt_bb_headline_superheadline">ABOUT
                                                    US</span><span class="bt_bb_headline_content">
                                                    <span>
                                                        <!-- Over 20
                                                                        Years of Experience. We'll Ensure You Always
                                                                        Get the Best Possible Results -->
                                                        {{aboutUsContent.title}}
                                                    </span></span>
                                            </h3>
                                            <div class="bt_bb_headline_subheadline">
                                                {{aboutUsContent.sub_title}}
                                                <!-- Our processes
                                                                will be tailored to best fit your needs, and we will
                                                                assist you by answering your questions and helping
                                                                to define your goals. -->
                                            </div>
                                        </header>
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                        </div>
                                        <div class="bt_bb_text">
                                            <p>{{aboutUsContent.content}}</p>
                                        </div>
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                        </div>
                                        <!-- <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_4 bt_bb_style_outline_thin bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit"
                                                            data-bt-override-class="{}"><a
                                                                href="http://novalab.bold-themes.com/lab-s/about-us/"
                                                                target="_self" class="bt_bb_link"
                                                                title="More About Novalab"><span
                                                                    class="bt_bb_button_text">More About
                                                                    Novalab</span></a></div>
                                                        <div class="bt_bb_button bt_bb_icon_position_left bt_bb_color_scheme_3 bt_bb_style_underline bt_bb_size_normal bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit"
                                                            data-bt-override-class="{}"><a
                                                                href="http://novalab.bold-themes.com/lab-s/about-us/"
                                                                target="_self" class="bt_bb_link"
                                                                title="Accreditation &amp; Certificates"><span
                                                                    class="bt_bb_button_text">Accreditation &amp;
                                                                    Certificates</span></a></div> -->
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_large bt_bb_border_style_none bt_bb_border_color_none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_column_background_image bt_bb_details_left-inner bt_bb_details-color_white"
                                style="background-image:url(&#039;../../assets/img/inner_experience_01.jpg&#039;);"
                                data-width="3" data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="bt_bb_section60c4f19514aec"
        class="bt_bb_section bt_bb_top_spacing_large bt_bb_color_scheme_16 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row_wrapper">
                        <div class="bt_bb_row" data-structure="3-6-3">
                            <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                data-width="3" data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner"></div>
                                </div>
                            </div>
                            <div class="bt_bb_column col-xl-6 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate animated"
                                data-width="6" data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner">
                                        <header
                                            class="bt_bb_headline bt_bb_dash_none bt_bb_size_normal bt_bb_superheadline bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h3 class="bt_bb_headline_tag"><span
                                                    class="bt_bb_headline_superheadline">OUR TEAM</span><span
                                                    class="bt_bb_headline_content"><span>{{aboutUsContent.our_team_title}}
                                                    </span></span>
                                            </h3>
                                        </header>
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bt_bb_column col-xl-3 bt_bb_align_left bt_bb_vertical_align_top bt_bb_padding_normal"
                                data-width="3" data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bt_bb_row_wrapper">
                        <div class="bt_bb_row" data-structure="4-4-4">

                            <ng-container *ngFor="let ourTeam of ourTeam; let i= index">
                                <div class="bt_bb_column col-xl-3 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal bt_bb_animation_fade_in animate animated"
                                    data-width="4" data-bt-override-class="{}">
                                    <div class="bt_bb_column_content">
                                        <div class="bt_bb_column_content_inner">
                                            <div
                                                class="bt_bb_image bt_bb_shape_hexagon bt_bb_align_inherit bt_bb_hover_style_zoom-in bt_bb_content_display_always bt_bb_content_align_middle">
                                                <!-- <a href="#"
                                                target="_self" title="Dr. Nicholas King"><img
                                                    src="../../assets/img/anonymous-man.png"
                                                    data-full_image_src="../../assets/img/anonymous-man.png"
                                                    data-image_src="../../assets/img/anonymous-man.png"
                                                    title="William Barnes" alt="William Barnes"
                                                    class="btLazyLoadImage btLazyLoaded"></a> -->
                                            </div>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                            </div>
                                            <header
                                                class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_superheadline bt_bb_align_inherit"
                                                data-bt-override-class="{}">
                                                <h5 class="bt_bb_headline_tag"><span
                                                        class="bt_bb_headline_superheadline"
                                                        style="text-transform: uppercase;">{{ourTeam.title}}</span><span
                                                        class="bt_bb_headline_content"><span>{{ourTeam.name}}</span></span>
                                                </h5><span>{{ourTeam.degree}}</span><br>
                                                <span>{{ourTeam.designation}}</span>
                                            </header>
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_20 bt_bb_border_style_none">
                                            </div>
                                            <!-- <div class="bt_bb_button bt_bb_icon_position_right bt_bb_color_scheme_3 bt_bb_style_clean bt_bb_size_medium bt_bb_width_inline bt_bb_shape_inherit bt_bb_align_inherit"
                                            data-bt-override-class="{}"><a
                                                href="https://novalab.bold-themes.com/lab-s/about-us/about-me/"
                                                target="_self" class="bt_bb_link" title="Go to full bio"><span
                                                    class="bt_bb_button_text">Go to full bio</span><span
                                                    data-ico-fontawesome5solid="" class="bt_bb_icon_holder"></span></a>
                                        </div> -->
                                            <div
                                                class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>