<app-header></app-header>
<div class="bt-content-wrap btClear">
    <section
        class="bt_bb_section gutter bt_bb_vertical_align_top btPageHeadline bt_bb_background_image bt_bb_background_overlay_dark_solid bt_bb_parallax bt-dark-skin "
        style="background-image:url(../../assets/img/hero-services.png)"
        data-parallax="0.8" data-parallax-offset="0">
        <div class="bt_bb_port port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row">
                        <div class="bt_bb_column">
                            <div class="bt_bb_column_content">
                                <header class="bt_bb_headline bt_bb_size_large bt_bb_superheadline"
                                    data-bt-override-class="{}">
                                    <h1 class="bt_bb_headline_tag"><span class="bt_bb_headline_superheadline"><span
                                                class="btBreadCrumbs"><span><a
                                                        href="/">Home</a></span></span></span><span
                                            class="bt_bb_headline_content"><span>COC Forms</span></span></h1>
                                </header>
                            </div><!-- /rowItemContent -->
                        </div><!-- /rowItem -->
                    </div><!-- /boldRow -->
                </div><!-- boldCellInner -->
            </div><!-- boldCell -->
        </div><!-- port -->
    </section>
    <section id="bt_bb_section60c4e9c3153d0"
        class="bt_bb_section bt_bb_bottom_spacing_medium bt_bb_layout_boxed_1200 bt_bb_vertical_align_top">
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row_wrapper">
                        <div class="bt_bb_row" data-structure="12">
                            <div class="bt_bb_column col-xl-12 bt_bb_align_center bt_bb_vertical_align_top bt_bb_padding_normal"
                                data-width="12" data-bt-override-class="{}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner">
                                        <header
                                            class="bt_bb_headline bt_bb_dash_none bt_bb_size_medium bt_bb_superheadline bt_bb_align_inherit"
                                            data-bt-override-class="{}">
                                            <h1 class="bt_bb_headline_tag"><span
                                                    class="bt_bb_headline_content"><span>COC Form</span></span></h1>
                                        </header>
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_normal bt_bb_border_style_none">
                                        </div>
                                        <div
                                            class="bt_bb_slider bt_bb_height_keep-height bt_bb_show_dots_bottom bt_bb_animation_fade animate animated">
                                            <embed src="../../assets/COC (Blank).pdf" type="application/pdf" width="100%" height="900px" >
                                        </div>
                                        <div
                                            class="bt_bb_separator bt_bb_bottom_spacing_medium bt_bb_border_style_none">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>