<div class="container-fluid g-0">
    <app-header-nav [isLoggedIn]="authService.isUserLoggedIn()"></app-header-nav>
    <section class="vh-1000" style="background-color: #03175B;">
        <div class="container py-0 h-1000">
            <div class="row d-flex justify-content-center align-items-center h-1000">
                <div class="col col-xl-11">
                    <div class="card" style="border-radius: 1rem;margin-top: 60px;">
                        <div class="row g-0">
                            <div class="page-header">
                                <h1>Manage Home</h1>
                            </div>
                            <div class="col-md-12 col-lg-12 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <form [formGroup]="formValue">

                                        <div class="form-outline mb-4"><b>Top Banner</b>
                                            <hr>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Banner Headline 1</label>
                                            <input type="text" id="form2Example17" class="form-control form-control-lg"
                                                formControlName="banner_headline" />

                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Banner Headline 2</label>
                                            <input type="text" id="form2Example17" class="form-control form-control-lg"
                                                formControlName="banner_content" />

                                        </div>
                                        <div class="form-outline mb-4"><b>Our Expertise</b>
                                            <hr>
                                        </div>
                                        <div formArrayName="Our_Expertise">
                                            <div *ngFor="let course of getExpertise(formValue); let i = index"
                                                [formGroupName]="i">
                                                <div>
                                                    <b>Expertise {{i+1}}</b>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="form2Example17">Expertise
                                                            Name</label>
                                                        <textarea class="form-control form-control-lg"
                                                            formControlName="name"></textarea>
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label" for="form2Example17">Title</label>
                                                        <input type="text" id="form2Example17"
                                                            class="form-control form-control-lg"
                                                            formControlName="title" />
                                                    </div>
                                                    <div class="form-outline mb-4">
                                                        <label class="form-label"
                                                            for="form2Example17">Description</label>
                                                        <!-- <textarea class="form-control form-control-lg"
                                                            formControlName="content"></textarea> -->
                                                        <editor formControlName="content"
                                                            apiKey="s9vxmbg2712vq9lvade315tv5ybmi73uroug9tuvn7mexbxo"
                                                            [init]="{
                                                                height: 500,
                                                                menubar: false,
                                                                plugins: [
                                                                  'lists'
                                                                ],
                                                                toolbar:
                                                                  'bullist numlist | undo redo | formatselect | bold italic backcolor | \
                                                                  alignleft aligncenter alignright alignjustify | \
                                                                removeformat | help'
                                                              }">
                                                        </editor>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4"><b>Hours of Operation</b>
                                            <hr>
                                        </div>
                                        <div formArrayName="hours_of_operation">
                                            <div *ngFor="let hop of getHoursOfOperation(formValue); let i = index"
                                                [formGroupName]="i">
                                                <div class="row">
                                                    <div class="col-md-3 mb-2">
                                                        <input type="text" id="form2Example17"
                                                            class="form-control form-control-lg"
                                                            formControlName="title" />
                                                    </div>
                                                    <div class="col-md-9 mb-2">
                                                        <input type="text" id="form2Example17"
                                                            class="form-control form-control-lg"
                                                            formControlName="operation_hour" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-outline mb-4"><b>About Us</b>
                                            <hr>
                                        </div>
                                        <div formArrayName="about_us">
                                            <div *ngFor="let hop of getAboutUs(formValue); let i = index"
                                                [formGroupName]="i">
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17">Heading</label>
                                                    <textarea id="form2Example17" class="form-control form-control-lg"
                                                        formControlName="title"></textarea>
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17">Sub Heading</label>
                                                    <textarea id="form2Example17" class="form-control form-control-lg"
                                                        formControlName="sub_title"></textarea>
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17">Description</label>
                                                    <textarea class="form-control form-control-lg"
                                                        formControlName="content"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-outline mb-4"><b>Benefits</b>
                                            <hr>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form2Example17">Benefits Title</label>
                                            <textarea class="form-control form-control-lg"
                                                formControlName="benefits_title"></textarea>
                                        </div>
                                        <div formArrayName="benefits">

                                            <div *ngFor="let hop of getBenefits(formValue); let i = index"
                                                [formGroupName]="i">
                                                <b>Benefits {{i+1}}</b>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17">Title</label>
                                                    <input type="text" id="form2Example17"
                                                        class="form-control form-control-lg" formControlName="title" />
                                                </div>
                                                <div class="form-outline mb-4">
                                                    <label class="form-label" for="form2Example17">Description</label>
                                                    <textarea id="form2Example17" class="form-control form-control-lg"
                                                        formControlName="content"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example17">Heading</label>
                                        <input type="text" id="form2Example17" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example17">Sub Heading</label>
                                        <input type="text" id="form2Example17" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form2Example17">Description</label>
                                        <textarea class="form-control form-control-lg"></textarea>
                                    </div>
                                    <div class="form-outline mb-4"><b>Benefits</b>
                                        <hr>
                                    </div> -->
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="container bg-light">
                                <div class="col-md-12 text-center mb-4">
                                    <button type="button" class="btn btn-primary"
                                        (click)="handleSubmit()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>